/*
  Joselyn Do
  April 29th, 2024
  Section AB: Elias & Quinton

  This is the styles.css file adding the styling to the Video Game Deals webpage. The theme of the
  webpage is nighttime vaporwave where the color scheme is purple, yellow, and white.
*/

body {
  background-image: url("img/retro-vaporwave-background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

a {
  color: #FCF6B1;
}

a:visited {
  color: #F7B32B;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  border-radius: 30px;
  font-size: 24px;
  margin: 20px;
  padding: 15px;
}

h1 {
  font-size: 42pt;
  margin-top: 0px;
}

h2 {
  font-size: 32pt;
}

h3 {
  font-size: 24pt;
  margin-top: 5px;
  margin-bottom: 5px;
}

span {
  width: 100%;
  text-align: center;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16pt;
  margin: 10px;
}

input[type="checkbox"] {
  margin: 20px;
}

/*
  Information for making a scrollable container retrieved from:
  https://youtu.be/bkwONqZ13kU?si=P01MEyiQQhx878ZW
*/
div {
  display: flex;
  flex-wrap: nowrap;
  width: 350px;
  overflow: hidden;
  overflow-x: scroll;
  padding-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-evenly;
}

html, div {
  scrollbar-color: #C9CED5 #534978;
}

header, footer {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

header, footer, #deals-and-lookup > section, #results-section > section section {
  background-color: #231C3B;
}

h1, h2, h3 {
  text-shadow: #F7B32B 0 0 7px;
  text-decoration: underline;
  font-family: "Playball", sans-serif;
}

p, h1, h2, h3, label, button, input[type="text"] {
  color: #C9CED5;
}

h1, footer p, div section, #results-section > section section {
  text-align: center;
}

main, button, input[type="text"], div section {
  background-color: #534978;
}

button, input[type="text"], #deals-and-lookup > section, #results-section > section section {
  box-shadow: #FCF6B1 0 0 10px;
}

div section {
  text-wrap: wrap;
  margin: 10px;
  padding: 10px;
  box-shadow: white 0 0 10px;
  min-width: 250px;
}

header img {
  width: 25%;
  border: 1px #FCF6B1 solid;
}

footer p {
  margin-top: 2px;
  margin-bottom: 2px;
}

main > section, main > section > section {
  display: flex;
}

main > section {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#deals-and-lookup > section {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  width: 40%;
  overflow: hidden;
}

#results-section {
  flex-direction: column;
  align-content: center;
  margin-top: 60px;
}

#results-section > h1 {
  margin-top: 5%;
  margin-bottom: 10px;
}

#results-section > p, #results-section > section > p {
  text-align: center;
  font-size: 36pt;
}

#results-section > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 88%;
}

#results-section > section section {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-height: max-content;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  margin: 2%;
}

#results-section > section section img {
  height: 100px;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}